body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #DDEBCC;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    height: 120px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

img {
    height: 80px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #DDEBCC;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    height: 120px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

img {
    height: 80px;
}

.botao-voltar {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #252525, #333);
    color: #0BBD29;
    border: 2px solid #0BBD29;
    border-radius: 15px;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.botao-voltar:hover {
    background-color: #252525;
    color: #0BBD29;
    font-weight: 700;
    font-size: 16px;
    padding: 0 15px;
}

.seta {
    height: 15px;
    transition: stroke-width 0.3s ease;
    stroke-width: 3px;
    stroke: #0BBD29;
}

.botao-voltar:hover .seta {
    stroke-width: 5px;
}

.container {
    flex: 1;
    margin-top: 140px;
}

.captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 500px;
    margin: 40px auto;
}

.captcha-container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(135deg, #0BBD29, #A9D7A6);
    z-index: -1;
    border-radius: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    height: 250px;
    width: 100%;
    padding: 50px 20px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    color: #fff;
    flex: 1;
    text-align: left;
    margin-bottom: 30px;
}

.logo-redes {
    margin-left: 2%;
    margin-right: 10%;
}

.redes-sociais {
    display: flex;
    gap: 10px;
}

.icon {
    height: 30px;
    transition: transform 0.3s, filter 0.3s;
}

.redesocial:hover .icon {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #0BBD29);
}

.info-contato {
    color: #fff;
    flex: 1;
    text-align: left;
    padding-left: 15%;
}

.input-email-footer {
    max-width: 70%;
    margin-top: 5%;
    padding: 12px; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
}

.enviar-email {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.botao-enviar {
    min-width: 80px;
    margin-top: 5%;
    background-color: #0BBD29; 
    color: #252525; 
    border: 2px solid #0BBD29;
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-weight: 550;
    font-size: 15px; 
    min-height: 50px;
    padding: 12px 20px;
}

.botao-enviar:hover {
    background-color: #DDEBCC;
    color: #252525;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.ultima-coluna {
    color: #fff; 
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content:end;
    width: 100%;
    align-items: end;
    margin-right: 2%;
    margin-left: 15%
}

.space-icontato {
    padding-right: 3px;
}

.contatos-label {
    color: #0BBD29; 
    font-weight: 400; 
}

.link-email {
    color:#fff;
    font-weight: 300;
}

.link-politica {
    color:#fff;
    font-weight: 300;
    font-size: 15px; 
}

.input-email {
    margin-top: 0px;
    padding: 5px;
    border: none; 
    border-radius: 5px;
}

.certificados {
    margin-bottom: 57px;
}

.text-pagamento{
    margin-bottom: 7px;
    font-size: 14px;
}

.copyright {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0;
    width: 102%;
    padding: 10px;
    font-size: 12px;
}

.ultima-coluna {
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-right: 2%;
    margin-left: 15%;
}

.copyright {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 10px;
    font-size: 12px;
}

.captcha-background-container {
    position: relative;
    text-align: center;
}

#verifyButton {
    background-color: #0BBD29;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#verifyButton:hover {
    background-color: #0D7E3E;
    transform: scale(1.05);
}

#submitButton {
    background-color: #0BBD29;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#submitButton:hover {
    background-color: #0D7E3E;
    transform: scale(1.05);
}